@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-plus:before {
  content: "\e908";
}

._icon-Frame-1:before {
  content: "\e906";
}

._icon-arrow-mail:before {
  content: "\e900";
}

._icon-arrow-more:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-instagram:before {
  content: "\e904";
}

._icon-linkdin:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2E2C34;
  line-height: 1;
  font-family: "Roboto";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 64.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.84375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp header, .no-webp .main, .no-webp footer{
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.2)), to(rgba(49, 29, 94, 0.2))), url("../img/background.jpg"); }

.no-webp header, .no-webp .main, .no-webp footer{
  background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url("../img/background.jpg"); }

.no-webp header, .no-webp .main, .no-webp footer{
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url("../img/background.jpg"); }

header,
.main,
footer {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@supports (padding-top: clamp( 1.25rem , 0.103046595rem  +  5.7347670251vw , 4.25rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-top: clamp( 1.25rem , 0.103046595rem  +  5.7347670251vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.103046595rem  +  5.7347670251vw , 4.25rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-top: calc(1.25rem + 3 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.016427718rem  +  6.3321385902vw , 4.5625rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-bottom: clamp( 1.25rem , -0.016427718rem  +  6.3321385902vw , 4.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.016427718rem  +  6.3321385902vw , 4.5625rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-bottom: calc(1.25rem + 3.3125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-right: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-right: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-right: calc(0.9375rem + 6.75 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-left: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.6431451613rem  +  12.9032258065vw , 7.6875rem )) {
  .instruction__container,
  .models__container,
  .concierge__container,
  .cities__container,
  .benefit__container,
  .more__container,
  .reviews__container {
    padding-left: calc(0.9375rem + 6.75 * (100vw - 20rem) / 52.3125);
  }
}

.button {
  line-height: 102%;
  color: #FFFFFF;
  padding: 23px 54px;
  background-color: rgb(155, 137, 200);
  border-radius: 30px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  white-space: nowrap;
}

@supports (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .button {
    font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .button {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-top: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem )) {
  .button {
    padding-top: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem );
  }
}

@supports not (padding-top: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem )) {
  .button {
    padding-top: calc(0.8125rem + 0.625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem )) {
  .button {
    padding-bottom: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem );
  }
}

@supports not (padding-bottom: clamp( 0.8125rem , 0.573551374rem  +  1.1947431302vw , 1.4375rem )) {
  .button {
    padding-bottom: calc(0.8125rem + 0.625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-right: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem )) {
  .button {
    padding-right: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem );
  }
}

@supports not (padding-right: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem )) {
  .button {
    padding-right: calc(2.125rem + 1.25 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem )) {
  .button {
    padding-left: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem );
  }
}

@supports not (padding-left: clamp( 2.125rem , 1.6471027479rem  +  2.3894862605vw , 3.375rem )) {
  .button {
    padding-left: calc(2.125rem + 1.25 * (100vw - 20rem) / 52.3125);
  }
}

.button_white {
  background-color: rgb(255, 255, 255);
}

.button_gray,
.button_white {
  color: #2E2C34;
  border: 1px solid #2E2C34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.button_gray {
  background: #F5F5F7;
  padding: 12px 44px;
}

.button_thin {
  padding: 12px 60px;
}

h2 {
  line-height: 100%;
}

@supports (font-size: clamp( 1.875rem , 0.9908900836rem  +  4.4205495818vw , 4.1875rem )) {
  h2 {
    font-size: clamp( 1.875rem , 0.9908900836rem  +  4.4205495818vw , 4.1875rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.9908900836rem  +  4.4205495818vw , 4.1875rem )) {
  h2 {
    font-size: calc(1.875rem + 2.3125 * (100vw - 20rem) / 52.3125);
  }
}

p {
  font-size: 20px;
  line-height: 124%;
}

@supports (font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem )) {
  p {
    font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem )) {
  p {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 52.3125);
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
}

.header._header-show {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.48);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container_wide {
  max-width: 1200px;
}

@supports (padding-right: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem )) {
  .header__container_wide {
    padding-right: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem )) {
  .header__container_wide {
    padding-right: calc(0.625rem + 1.875 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem )) {
  .header__container_wide {
    padding-left: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.0918458781rem  +  3.5842293907vw , 2.5rem )) {
  .header__container_wide {
    padding-left: calc(0.625rem + 1.875 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-top: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem )) {
  .header__container_wide {
    padding-top: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem )) {
  .header__container_wide {
    padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem )) {
  .header__container_wide {
    padding-bottom: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.505525687rem  +  0.5973715651vw , 0.9375rem )) {
  .header__container_wide {
    padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 52.3125);
  }
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 102%;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__body::before {
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 92px;
  background-color: rgb(190, 160, 200);
  z-index: 4;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu__link {
  -webkit-transition: background-color 0.4s ease 0s;
  -o-transition: background-color 0.4s ease 0s;
  transition: background-color 0.4s ease 0s;
  border-radius: 20px;
}

@supports (padding-top: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem )) {
  .menu__link {
    padding-top: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem );
  }
}

@supports not (padding-top: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem )) {
  .menu__link {
    padding-top: calc(0.5rem + 0.25 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem )) {
  .menu__link {
    padding-bottom: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.4044205496rem  +  0.4778972521vw , 0.75rem )) {
  .menu__link {
    padding-bottom: calc(0.5rem + 0.25 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem )) {
  .menu__link {
    padding-right: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem )) {
  .menu__link {
    padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem )) {
  .menu__link {
    padding-left: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.5790770609rem  +  1.7921146953vw , 1.875rem )) {
  .menu__link {
    padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 52.3125);
  }
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  background-color: rgb(190, 160, 200);
}

.no-webp .footer{
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.2)), to(rgba(49, 29, 94, 0.2))), url("../img/background.jpg"); }

.no-webp .footer{
  background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url("../img/background.jpg"); }

.no-webp .footer{
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url("../img/background.jpg"); }

.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (padding-top: clamp( 1.875rem , 0.2501493429rem  +  8.1242532855vw , 6.125rem )) {
  .footer__container {
    padding-top: clamp( 1.875rem , 0.2501493429rem  +  8.1242532855vw , 6.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.2501493429rem  +  8.1242532855vw , 6.125rem )) {
  .footer__container {
    padding-top: calc(1.875rem + 4.25 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .footer__container {
    padding-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .footer__container {
    padding-bottom: calc(2.5rem + 0 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-right: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem )) {
  .footer__container {
    padding-right: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem )) {
  .footer__container {
    padding-right: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem )) {
  .footer__container {
    padding-left: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -0.6156660693rem  +  7.7658303465vw , 5rem )) {
  .footer__container {
    padding-left: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 52.3125);
  }
}

.footer__main {
  color: rgb(255, 255, 255);
  gap: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 314px) minmax(400px, 1fr);
  grid-template-columns: minmax(250px, 314px) minmax(400px, 1fr);
}

@supports (margin-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .footer__main {
    margin-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .footer__main {
    margin-bottom: calc(1.25rem + 4.75 * (100vw - 20rem) / 52.3125);
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  line-height: 119%;
}

@supports (font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem )) {
  .footer__title {
    font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem )) {
  .footer__title {
    font-size: calc(1.25rem + 0.5625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4338410992rem  +  0.9557945042vw , 1.125rem )) {
  .footer__title {
    margin-bottom: clamp( 0.625rem , 0.4338410992rem  +  0.9557945042vw , 1.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4338410992rem  +  0.9557945042vw , 1.125rem )) {
  .footer__title {
    margin-bottom: calc(0.625rem + 0.5 * (100vw - 20rem) / 52.3125);
  }
}

.footer__text {
  line-height: 150%;
}

@supports (margin-bottom: clamp( 1rem , 0.6893667861rem  +  1.5531660693vw , 1.8125rem )) {
  .footer__text {
    margin-bottom: clamp( 1rem , 0.6893667861rem  +  1.5531660693vw , 1.8125rem );
  }
}

@supports not (margin-bottom: clamp( 1rem , 0.6893667861rem  +  1.5531660693vw , 1.8125rem )) {
  .footer__text {
    margin-bottom: calc(1rem + 0.8125 * (100vw - 20rem) / 52.3125);
  }
}

.footer__info {
  font-size: 14px;
  line-height: 150%;
}

.footer__nav {
  line-height: 150%;
}

@supports (gap: clamp( 1.5rem , -11.3120300752rem  +  26.6917293233vw , 5.9375rem )) {
  .footer__spollers {
    gap: clamp( 1.5rem , -11.3120300752rem  +  26.6917293233vw , 5.9375rem );
  }
}

@supports not (gap: clamp( 1.5rem , -11.3120300752rem  +  26.6917293233vw , 5.9375rem )) {
  .footer__spollers {
    gap: calc(1.5rem + 4.4375 * (100vw - 48rem) / 16.625);
  }
}

.input {
  line-height: 138%;
  color: rgba(73, 70, 79, 0.8);
  padding: 14px 18px;
  border-radius: 10px;
  width: 94%;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.698551374rem  +  1.1947431302vw , 1.5625rem )) {
  .input {
    margin-bottom: clamp( 0.9375rem , 0.698551374rem  +  1.1947431302vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.698551374rem  +  1.1947431302vw , 1.5625rem )) {
  .input {
    margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 52.3125);
  }
}

.spollers-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spollers-footer__title {
  position: relative;
  color: rgba(77, 74, 74, 0.716);
}

@supports (margin-bottom: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem )) {
  .spollers-footer__title {
    margin-bottom: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem )) {
  .spollers-footer__title {
    margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 52.3125);
  }
}

._spoller-init .spollers-footer__title {
  cursor: pointer;
}

._spoller-init .spollers-footer__title::before,
._spoller-init .spollers-footer__title::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  background-color: rgba(77, 74, 74, 0.716);
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers-footer__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers-footer__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers-footer__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers-footer__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem )) {
  .spollers-footer__list {
    gap: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.4816308244rem  +  0.7168458781vw , 1rem )) {
  .spollers-footer__list {
    gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 52.3125);
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

@supports (padding-bottom: clamp( 1.875rem , -1.7809139785rem  +  18.2795698925vw , 11.4375rem )) {
  .main__container {
    padding-bottom: clamp( 1.875rem , -1.7809139785rem  +  18.2795698925vw , 11.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.7809139785rem  +  18.2795698925vw , 11.4375rem )) {
  .main__container {
    padding-bottom: calc(1.875rem + 9.5625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-top: clamp( 4.375rem , 2.7501493429rem  +  8.1242532855vw , 8.625rem )) {
  .main__container {
    padding-top: clamp( 4.375rem , 2.7501493429rem  +  8.1242532855vw , 8.625rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 2.7501493429rem  +  8.1242532855vw , 8.625rem )) {
  .main__container {
    padding-top: calc(4.375rem + 4.25 * (100vw - 20rem) / 52.3125);
  }
}

.main__title {
  line-height: 112%;
  white-space: nowrap;
}

@supports (font-size: clamp( 1.875rem , 0.2262544803rem  +  8.2437275986vw , 6.1875rem )) {
  .main__title {
    font-size: clamp( 1.875rem , 0.2262544803rem  +  8.2437275986vw , 6.1875rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.2262544803rem  +  8.2437275986vw , 6.1875rem )) {
  .main__title {
    font-size: calc(1.875rem + 4.3125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (letter-spacing: clamp( 0.1875rem , 0.1397102748rem  +  0.238948626vw , 0.3125rem )) {
  .main__title {
    letter-spacing: clamp( 0.1875rem , 0.1397102748rem  +  0.238948626vw , 0.3125rem );
  }
}

@supports not (letter-spacing: clamp( 0.1875rem , 0.1397102748rem  +  0.238948626vw , 0.3125rem )) {
  .main__title {
    letter-spacing: calc(0.1875rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4118130227rem  +  2.6284348865vw , 2.3125rem )) {
  .main__title {
    margin-bottom: clamp( 0.9375rem , 0.4118130227rem  +  2.6284348865vw , 2.3125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4118130227rem  +  2.6284348865vw , 2.3125rem )) {
  .main__title {
    margin-bottom: calc(0.9375rem + 1.375 * (100vw - 20rem) / 52.3125);
  }
}

.main__subtitle {
  font-size: 21px;
  line-height: 131%;
  white-space: nowrap;
}

@supports (margin-bottom: clamp( 1.25rem , 0.3658900836rem  +  4.4205495818vw , 3.5625rem )) {
  .main__subtitle {
    margin-bottom: clamp( 1.25rem , 0.3658900836rem  +  4.4205495818vw , 3.5625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3658900836rem  +  4.4205495818vw , 3.5625rem )) {
  .main__subtitle {
    margin-bottom: calc(1.25rem + 2.3125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (font-size: clamp( 0.9375rem , 0.7941308244rem  +  0.7168458781vw , 1.3125rem )) {
  .main__subtitle {
    font-size: clamp( 0.9375rem , 0.7941308244rem  +  0.7168458781vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.7941308244rem  +  0.7168458781vw , 1.3125rem )) {
  .main__subtitle {
    font-size: calc(0.9375rem + 0.375 * (100vw - 20rem) / 52.3125);
  }
}

.main__btn {
  padding: 12px 51px;
  background-color: rgb(155, 137, 200);
  border-radius: 20px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.instruction__container {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instruction__title {
  white-space: nowrap;
}

@supports (margin-bottom: clamp( 1.25rem , 0.0313620072rem  +  6.0931899642vw , 4.4375rem )) {
  .instruction__title {
    margin-bottom: clamp( 1.25rem , 0.0313620072rem  +  6.0931899642vw , 4.4375rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0313620072rem  +  6.0931899642vw , 4.4375rem )) {
  .instruction__title {
    margin-bottom: calc(1.25rem + 3.1875 * (100vw - 20rem) / 52.3125);
  }
}

.instruction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 0.9375rem , 0.7224462366rem  +  1.0752688172vw , 1.5rem )) {
  .instruction__list {
    gap: clamp( 0.9375rem , 0.7224462366rem  +  1.0752688172vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.7224462366rem  +  1.0752688172vw , 1.5rem )) {
  .instruction__list {
    gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.1875rem )) {
  .instruction__list {
    margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.1875rem )) {
  .instruction__list {
    margin-bottom: calc(1.25rem + 1.9375 * (100vw - 20rem) / 52.3125);
  }
}

.models {
  background: #F5F5F7;
}

@supports (margin-bottom: clamp( 1.25rem , 1.0827359618rem  +  0.8363201912vw , 1.6875rem )) {
  .models__title {
    margin-bottom: clamp( 1.25rem , 1.0827359618rem  +  0.8363201912vw , 1.6875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0827359618rem  +  0.8363201912vw , 1.6875rem )) {
  .models__title {
    margin-bottom: calc(1.25rem + 0.4375 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5809438471rem  +  3.3452807646vw , 3rem )) {
  .models__subtitle {
    margin-bottom: clamp( 1.25rem , 0.5809438471rem  +  3.3452807646vw , 3rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5809438471rem  +  3.3452807646vw , 3rem )) {
  .models__subtitle {
    margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 52.3125);
  }
}

.models__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  margin-left: -15px;
  margin-right: -15px;
}

.models__item {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.models__item:hover {
  -webkit-box-shadow: 0px 5px 20px rgb(148, 142, 142);
          box-shadow: 0px 5px 20px rgb(148, 142, 142);
}

.item-model {
  background-color: rgb(255, 255, 255);
  padding: 67px 24px 32px 24px;
  border-radius: 16px;
}

@supports (padding-top: clamp( 2.5rem , 1.8548387097rem  +  3.2258064516vw , 4.1875rem )) {
  .item-model {
    padding-top: clamp( 2.5rem , 1.8548387097rem  +  3.2258064516vw , 4.1875rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8548387097rem  +  3.2258064516vw , 4.1875rem )) {
  .item-model {
    padding-top: calc(2.5rem + 1.6875 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5312873357rem  +  2.0310633214vw , 2rem )) {
  .item-model {
    padding-bottom: clamp( 0.9375rem , 0.5312873357rem  +  2.0310633214vw , 2rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5312873357rem  +  2.0310633214vw , 2rem )) {
  .item-model {
    padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-left: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem )) {
  .item-model {
    padding-left: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem );
  }
}

@supports not (padding-left: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem )) {
  .item-model {
    padding-left: calc(1rem + 0.5 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-right: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem )) {
  .item-model {
    padding-right: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem );
  }
}

@supports not (padding-right: clamp( 1rem , 0.8088410992rem  +  0.9557945042vw , 1.5rem )) {
  .item-model {
    padding-right: calc(1rem + 0.5 * (100vw - 20rem) / 52.3125);
  }
}

.item-model__image-ibg {
  padding: 0px 0px 70% 0px;
  margin-bottom: 20px;
}

.item-model__prices {
  line-height: 127%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .item-model__prices {
    font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .item-model__prices {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem )) {
  .item-model__prices {
    margin-bottom: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem )) {
  .item-model__prices {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 52.3125);
  }
}

.item-model__label {
  padding: 4px 10px;
  border-radius: 20px;
  background: #F1EEF8;
  color: #7140EB;
}

.item-model__title {
  line-height: 119%;
  margin-bottom: 5px;
}

@supports (font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem )) {
  .item-model__title {
    font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0349462366rem  +  1.0752688172vw , 1.8125rem )) {
  .item-model__title {
    font-size: calc(1.25rem + 0.5625 * (100vw - 20rem) / 52.3125);
  }
}

.item-model__subtitle {
  line-height: 127%;
  margin-bottom: 11px;
}

@supports (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .item-model__subtitle {
    font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9522102748rem  +  0.238948626vw , 1.125rem )) {
  .item-model__subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

.concierge {
  background: #F5F5F7;
}

.concierge__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr;
  grid-template-columns: 350px 1fr;
  gap: 17px;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem )) {
  .concierge__title {
    margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem )) {
  .concierge__title {
    margin-bottom: calc(0.9375rem + 0.75 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7959976105rem  +  2.2700119474vw , 2.4375rem )) {
  .concierge__text {
    margin-bottom: clamp( 1.25rem , 0.7959976105rem  +  2.2700119474vw , 2.4375rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7959976105rem  +  2.2700119474vw , 2.4375rem )) {
  .concierge__text {
    margin-bottom: calc(1.25rem + 1.1875 * (100vw - 20rem) / 52.3125);
  }
}

.no-webp .cities{
  background-image: url("../img/main.jpg"); }

.cities {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.cities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.cities__content {
  max-width: 319px;
}

@supports (margin-top: clamp( 0.625rem , -4.1539725209rem  +  23.8948626045vw , 13.125rem )) {
  .cities__content {
    margin-top: clamp( 0.625rem , -4.1539725209rem  +  23.8948626045vw , 13.125rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , -4.1539725209rem  +  23.8948626045vw , 13.125rem )) {
  .cities__content {
    margin-top: calc(0.625rem + 12.5 * (100vw - 20rem) / 52.3125);
  }
}

.cities__title {
  margin-bottom: 12px;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6029719235rem  +  1.6726403823vw , 1.8125rem )) {
  .cities__text {
    margin-bottom: clamp( 0.9375rem , 0.6029719235rem  +  1.6726403823vw , 1.8125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6029719235rem  +  1.6726403823vw , 1.8125rem )) {
  .cities__text {
    margin-bottom: calc(0.9375rem + 0.875 * (100vw - 20rem) / 52.3125);
  }
}

.cities__phraze {
  line-height: 135%;
}

@supports (font-size: clamp( 0.875rem , 0.7794205496rem  +  0.4778972521vw , 1.125rem )) {
  .cities__phraze {
    font-size: clamp( 0.875rem , 0.7794205496rem  +  0.4778972521vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7794205496rem  +  0.4778972521vw , 1.125rem )) {
  .cities__phraze {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 52.3125);
  }
}

.cities__list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cities__city {
  line-height: 111%;
  text-align: right;
  letter-spacing: 5px;
}

@supports (font-size: clamp( 0.625rem , -1.5255376344rem  +  10.752688172vw , 6.25rem )) {
  .cities__city {
    font-size: clamp( 0.625rem , -1.5255376344rem  +  10.752688172vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 0.625rem , -1.5255376344rem  +  10.752688172vw , 6.25rem )) {
  .cities__city {
    font-size: calc(0.625rem + 5.625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9393667861rem  +  1.5531660693vw , 2.0625rem )) {
  .cities .button {
    margin-bottom: clamp( 1.25rem , 0.9393667861rem  +  1.5531660693vw , 2.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9393667861rem  +  1.5531660693vw , 2.0625rem )) {
  .cities .button {
    margin-bottom: calc(1.25rem + 0.8125 * (100vw - 20rem) / 52.3125);
  }
}

.benefit__container {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.benefit__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem )) {
  .benefit__title {
    margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6507616487rem  +  1.4336917563vw , 1.6875rem )) {
  .benefit__title {
    margin-bottom: calc(0.9375rem + 0.75 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7004181601rem  +  2.7479091995vw , 2.6875rem )) {
  .benefit__text {
    margin-bottom: clamp( 1.25rem , 0.7004181601rem  +  2.7479091995vw , 2.6875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7004181601rem  +  2.7479091995vw , 2.6875rem )) {
  .benefit__text {
    margin-bottom: calc(1.25rem + 1.4375 * (100vw - 20rem) / 52.3125);
  }
}

.benefit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.benefit__item {
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  background: #F5F5F7;
  border-radius: 40px;
  padding: 8px 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.benefit .item-model_gray {
  background: #F5F5F7;
}

.more {
  background: #F5F5F7;
}

.more__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 235px) 1fr;
  grid-template-columns: minmax(200px, 235px) 1fr;
}

@supports (padding-top: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .more__container {
    padding-top: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .more__container {
    padding-top: calc(1.25rem + 4.75 * (100vw - 20rem) / 52.3125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .more__container {
    padding-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.5660095579rem  +  9.0800477897vw , 6rem )) {
  .more__container {
    padding-bottom: calc(1.25rem + 4.75 * (100vw - 20rem) / 52.3125);
  }
}

@supports (gap: clamp( 1.25rem , -32.6748120301rem  +  70.6766917293vw , 13rem )) {
  .more__container {
    gap: clamp( 1.25rem , -32.6748120301rem  +  70.6766917293vw , 13rem );
  }
}

@supports not (gap: clamp( 1.25rem , -32.6748120301rem  +  70.6766917293vw , 13rem )) {
  .more__container {
    gap: calc(1.25rem + 11.75 * (100vw - 48rem) / 16.625);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , -1.1211917563rem  +  7.1684587814vw , 4.0625rem )) {
  .more__title {
    margin-bottom: clamp( 0.3125rem , -1.1211917563rem  +  7.1684587814vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -1.1211917563rem  +  7.1684587814vw , 4.0625rem )) {
  .more__title {
    margin-bottom: calc(0.3125rem + 3.75 * (100vw - 20rem) / 52.3125);
  }
}

.spollers-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 591px;
          flex: 0 1 591px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 124%;
}

@supports (gap: clamp( 1.25rem , 0.6526284349rem  +  2.9868578256vw , 2.8125rem )) {
  .spollers-more {
    gap: clamp( 1.25rem , 0.6526284349rem  +  2.9868578256vw , 2.8125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.6526284349rem  +  2.9868578256vw , 2.8125rem )) {
  .spollers-more {
    gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 52.3125);
  }
}

@supports (font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem )) {
  .spollers-more {
    font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9044205496rem  +  0.4778972521vw , 1.25rem )) {
  .spollers-more {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 52.3125);
  }
}

.spollers-more__item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.spollers-more__title {
  text-align: left;
  position: relative;
}

._spoller-init .spollers-more__title {
  cursor: pointer;
}

._spoller-init .spollers-more__title::before,
._spoller-init .spollers-more__title::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers-more__title::before {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

._spoller-init .spollers-more__title::after {
  -webkit-transform: translate(0, -50%) rotate(0deg);
      -ms-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
}

._spoller-init .spollers-more__title._spoller-active::before {
  -webkit-transform: translateX(0) rotate(0deg);
      -ms-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

._spoller-init .spollers-more__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@supports (font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem )) {
  .spollers-more__body {
    font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem )) {
  .spollers-more__body {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-top: clamp( 0.9375rem , 0.818025687rem  +  0.5973715651vw , 1.25rem )) {
  .spollers-more__body {
    margin-top: clamp( 0.9375rem , 0.818025687rem  +  0.5973715651vw , 1.25rem );
  }
}

@supports not (margin-top: clamp( 0.9375rem , 0.818025687rem  +  0.5973715651vw , 1.25rem )) {
  .spollers-more__body {
    margin-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6137992832rem  +  9.3189964158vw , 6.125rem )) {
  .reviews__title {
    margin-bottom: clamp( 1.25rem , -0.6137992832rem  +  9.3189964158vw , 6.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6137992832rem  +  9.3189964158vw , 6.125rem )) {
  .reviews__title {
    margin-bottom: calc(1.25rem + 4.875 * (100vw - 20rem) / 52.3125);
  }
}

@supports (font-size: clamp( 1.625rem , 0.6453106332rem  +  4.8984468339vw , 4.1875rem )) {
  .reviews__title {
    font-size: clamp( 1.625rem , 0.6453106332rem  +  4.8984468339vw , 4.1875rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 0.6453106332rem  +  4.8984468339vw , 4.1875rem )) {
  .reviews__title {
    font-size: calc(1.625rem + 2.5625 * (100vw - 20rem) / 52.3125);
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide__review {
  line-height: 120%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@supports (font-size: clamp( 1.125rem , 0.8621565114rem  +  1.3142174432vw , 1.8125rem )) {
  .swiper-slide__review {
    font-size: clamp( 1.125rem , 0.8621565114rem  +  1.3142174432vw , 1.8125rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8621565114rem  +  1.3142174432vw , 1.8125rem )) {
  .swiper-slide__review {
    font-size: calc(1.125rem + 0.6875 * (100vw - 20rem) / 52.3125);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.1875rem )) {
  .swiper-slide__review {
    margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.1875rem )) {
  .swiper-slide__review {
    margin-bottom: calc(0.625rem + 0.5625 * (100vw - 20rem) / 52.3125);
  }
}

.swiper-slide__user {
  line-height: 143%;
}

@supports (font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem )) {
  .swiper-slide__user {
    font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8272102748rem  +  0.238948626vw , 1rem )) {
  .swiper-slide__user {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 52.3125);
  }
}

.swiper-pagination {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@supports (margin-top: clamp( 0.625rem , 0.1471027479rem  +  2.3894862605vw , 1.875rem )) {
  .swiper-pagination {
    margin-top: clamp( 0.625rem , 0.1471027479rem  +  2.3894862605vw , 1.875rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.1471027479rem  +  2.3894862605vw , 1.875rem )) {
  .swiper-pagination {
    margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 52.3125);
  }
}

@supports (gap: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem )) {
  .swiper-pagination {
    gap: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.386051374rem  +  1.1947431302vw , 1.25rem )) {
  .swiper-pagination {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 52.3125);
  }
}

.swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #2E2C34;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -24%;
  left: -23%;
  width: 15px;
  height: 15px;
  color: #2E2C34;
  border-radius: 50%;
  border: 2px solid #2E2C34;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 813px) {
  .benefit__container {
    gap: 20px;
  }

  .benefit .item-model {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 768px) {
  .footer__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .spollers-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .header._header-show {
    background-color: rgba(0, 0, 0, 0.202);
  }

  .header__container_wide {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header__logo {
    -webkit-transform: scale(0.8) translateX(-12px);
        -ms-transform: scale(0.8) translateX(-12px);
            transform: scale(0.8) translateX(-12px);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 160, 200);
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 90px;
    gap: 30px;
    font-weight: 600;
    color: #2E2C34;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__title {
    font-weight: 500;
  }

  .concierge__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .concierge__image-ibg {
    display: none;
  }
}

@media (max-width: 682px) {
  .more__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .more__title {
    text-align: center;
  }

  .more .button {
    display: none;
  }

  .spollers-more {
    padding-left: 20px;
  }
}

@media (max-width: 425px) {
  .spollers-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .spollers-footer__title {
    width: 70px;
    text-align: left;
  }
}

@media (max-width: 29.99875em) {
  .cities__list {
    gap: 10px;
    font-weight: 600;
  }

  .reviews__title {
    text-align: center;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(137, 113, 198);
  }

  .button_gray:hover,
  .button_white:hover {
    background-color: rgba(155, 137, 200, 0.347);
  }

  .menu__link:hover {
    background-color: rgb(137, 113, 198);
  }

  .menu-open .menu__link:hover {
    background-color: rgba(112, 64, 235, 0);
    border: 2px solid #2E2C34;
  }

  .main__btn:hover {
    background-color: rgb(137, 113, 198);
  }
}

.webp header, .webp .main, .webp footer{ background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.2)), to(rgba(49, 29, 94, 0.2))), url(../img/background.webp); }

.webp header, .webp .main, .webp footer{ background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url(../img/background.webp); }

.webp header, .webp .main, .webp footer{ background-image: linear-gradient(to right, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url(../img/background.webp); }

.webp .footer{ background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.2)), to(rgba(49, 29, 94, 0.2))), url(../img/background.webp); }

.webp .footer{ background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url(../img/background.webp); }

.webp .footer{ background-image: linear-gradient(to right, rgba(9, 5, 47, 0.2) 0%, rgba(49, 29, 94, 0.2) 100%), url(../img/background.webp); }

.webp .cities{ background-image: url(../img/main.webp); }